<li>
	{{name}}

	<button class="change-status" data-id="{{id}}" data-devouredBurgers="{{eat}}">
		{{#if eat}}GRUB!{{else}}BARF!{{/if}}
	</button>
	<button class = "delete-burger" data-id="{{this.id}}">delete</button>
</li>
